dist
.wrangler
.output
.vercel
.netlify
.vinxi
.vscode
app.config.timestamp_*.js
mise.toml

# Environment
.env
.env*.local

# dependencies
/node_modules

# database
**/migrations/meta/

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
