localhost {
    # Generate a local dev cert (not trusted by browsers automatically)
    tls internal

    header Cross-Origin-Opener-Policy same-origin
    header Cross-Origin-Embedder-Policy require-corp

    handle /api/* {
        reverse_proxy backend:3001
    }

    handle {
        root * /usr/share/caddy
        try_files {path} {path}/ /index.html
        file_server
    }
}

srccod.northridge.dev {
    header Cross-Origin-Opener-Policy same-origin
    header Cross-Origin-Embedder-Policy require-corp

    handle /api/* {
        reverse_proxy backend:3001
    }

    handle {
        root * /usr/share/caddy
        try_files {path} {path}/ /index.html
        file_server
    }
}
